DOMAIN={{ app_domain }}
IMAGE_TAG={{ app_image_tag }}

APP_DATABASE_NAME={{ app_database_name }}
APP_DATABASE_USER={{ app_database_user }}
CHAT_DATABASE_NAME={{ chat_database_name }}
CHAT_DATABASE_USER={{ chat_database_user }}
CHAT_DATABASE_SPRING_PROFILE={{ chat_database_spring_profile }}
APPLICATION_CONTEXT_PATH={{ application_context_path }}
CHAT_CONTEXT_PATH={{ chat_context_path }}
CHAT_SERVICE_URL={{ chat_service_url }}
LLM_PROVIDER=openai
GENAI_ROOT_PATH={{ genai_root_path }}
GAME_ENGINE_ROOT_PATH={{ game_engine_root_path }}
SUPABASE_AUTH_ISSUER={{ supabase_auth_issuer }}
SUPABASE_AUTH_JWKS_URI={{ supabase_auth_jwks_uri }}

APP_DATABASE_PASSWORD_FILE={{ app_secrets_dir }}/app_database_password
CHAT_DATABASE_PASSWORD_FILE={{ app_secrets_dir }}/chat_database_password
LOGOS_KEY_FILE={{ app_secrets_dir }}/logos_key
