:80 {
  redir /grafana /grafana/ 308

  handle_path /grafana/* {
    reverse_proxy grafana:3000
  }

  handle_path /frontend/* {
    reverse_proxy frontend:8080
  }

  handle /application/* {
    reverse_proxy application:8080
  }

  handle /chat/* {
    reverse_proxy chat:8080
  }

  handle_path /genai/* {
    reverse_proxy genai:8080
  }

  handle_path /game-engine/* {
    reverse_proxy game-engine:8080
  }

  handle {
    reverse_proxy frontend:8080
  }
}
